
@{
    ViewBag.Title = "Kategoriler";
    Layout = "_Layout";
}

<div class="bd-example m-0 border-0 d-flex justify-content-center">
    <div class="bd-example m-0 border-0">
        <ul class="list-group list-group-flush align-items-center">
            <li class="list-group-item"><a class="btn btn-primary custom-all-btn" href="@Url.Action("Details", "Category")" role="button" style="color: white; background-color: black; font-size: 1.2rem; border-color: black;">Tüm Kitaplar</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: black; background-color: white; border-color: black;">Dünya Klasikleri</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: white; background-color: black; border-color: black;">Türk Klasikleri</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: black; background-color: white; border-color: black;">Rus Klasikleri</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: white; background-color: black; border-color: black;">Felsefe</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: black; background-color: white; border-color: black;">Şiir</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: white; background-color: black; border-color: black;">Sosyoloji</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: black; background-color: white; border-color: black;">Roman</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: white; background-color: black; border-color: black;">Aşk</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: black; background-color: white; border-color: black;">Bilim-Kurgu</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: white; background-color: black; border-color: black;">Fantastik</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: black; background-color: white; border-color: black;">Korku-Gerilim</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: white; background-color: black; border-color: black;">Tarih</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: black; background-color: white; border-color: black;">Psikoloji</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: white; background-color: black; border-color: black;">Kişisel Gelişim</a></li>
            <li class="list-group-item"><a class="btn btn-primary custom-btn" href="@Url.Action("Details", "Category")" role="button" style="color: black; background-color: white; border-color: black;">Tasavvuf</a></li>
        </ul>
    </div>
</div>
